In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [5]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train.head()

,id,F_0,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,...,F_31,F_32,F_33,F_34,F_35,F_36,F_37,F_38,F_39,target
0,0,0.113228,0.422434,0.832985,0.842464,0.546673,0.745887,0.429606,0.085754,0.399729,...,1.181330,0.451207,-1.598429,-0.993606,1.094974,-0.668518,0.991701,0.752962,-1.098608,15.033044
1,1,0.920659,0.570805,0.765841,0.991410,0.670240,0.143980,0.332977,0.334881,0.853180,...,0.371634,2.096566,-0.453642,1.975465,1.292841,-2.457778,-0.811782,0.543971,-1.076025,25.347048
2,2,0.657971,0.781121,0.018452,0.780114,0.769523,0.100755,0.443940,0.441836,0.541243,...,-1.766206,-0.693503,0.735402,1.094106,1.337566,2.027955,-0.809229,-0.192245,-1.071367,26.096964
3,3,0.473682,0.711675,0.638811,0.724337,0.276858,0.221276,0.567077,0.392046,0.482550,...,-0.527111,0.645962,-0.165544,-1.588618,0.612553,0.919660,0.678893,0.200952,0.945641,18.071029
4,4,0.497493,0.938140,0.510375,0.113169,0.294143,0.280510,0.009957,0.748065,0.932476,...,0.285362,1.022279,1.394883,1.243486,-1.542823,-0.995276,-1.715270,-0.646440,-0.083464,-12.544878

In [12]:
features=["F_13","F_27"]
X_train= train[features]
X_test=test[features]
y_train=train["target"]

In [13]:
model = LinearRegression()
model.fit(X_train,y_train)
predictions = model.predict(X_test)

In [14]:
submission = test[["id"]]
submission

         id
0     10000
1     10001
2     10002
3     10003
4     10004
...     ...
9995  19995
9996  19996
9997  19997
9998  19998
9999  19999

[10000 rows x 1 columns]

In [15]:
submission["target"]= predictions

/var/folders/h2/6b8r05nx5hj4nnyn1ylsn6lh0000gn/T/ipykernel_99153/1786622138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission["target"]= predictions

In [16]:
submission

         id    target
0     10000 -0.154687
1     10001 -0.000496
2     10002 -0.078432
3     10003 -0.157845
4     10004 -0.087406
...     ...       ...
9995  19995 -0.137003
9996  19996 -0.076212
9997  19997  0.011033
9998  19998 -0.075152
9999  19999 -0.159917

[10000 rows x 2 columns]

In [18]:
submission.to_csv("submission.csv",index=None)